body {
    background-color: #333;
    color: #ddd;
}

h1 {
    font-size: 300%;
}

.title {
    font-family: Tangerine, serif;
    font-style: italic;
    padding: 18px;
    text-align: center;
}

summary {
    border: 1px dotted #ddd;
    padding-top: 50px;
    margin: 5px;
    background-color: #563d66;
    opacity: 0.3;
}

.poemtitle {
    font-size: 200%;
    font-family: Tangerine, serif;
    font-style: italic;
    text-align: left;
}

/* force Japanese text not to be italic */
span.japanese {
    font-family: "Noto Sans JP", serif;
    font-style: normal;
}

span.underline {
    text-decoration: underline;
}

.poem {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    padding-left: 5%;
}

