body {
    background-color: #333;
    color: #ddd;
}

h1 {
    font-size: 300%;
}

.title {
    font-family: Tangerine, serif;
    font-style: italic;
    padding: 18px;
    text-align: center;
}

summary {
    border: 1px dotted #ddd;
    margin-top: 50px;
    padding: 10px;
    background-color: #563d66;
    color: #eee;
    opacity: 0.3;
    
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.poemtitle {
    font-size: 200%;
    font-family: Tangerine, serif;
    font-style: italic;
    text-align: center;
}

/* force Japanese text not to be italic */
span.japanese {
    font-family: "Noto Serif JP", serif;
    font-style: normal;
}

span.underline {
    text-decoration: underline;
}

.poem {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    padding-left: 5%;
}

